.button {
    color: white;
    background: transparent;
    border: 1px solid white;
    transition: .5s ease;
    padding: .5em 1em;
    margin: 0 .5em;
    text-decoration: none;
}
.button:hover {
    background: lightgreen;
    color: black;
    transform: translateY(-10px);
}
