{% extends 'layout.html' %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css"/>
{% endblock %}
{% block content %}
    <form action="{{endpoint}}" method="POST">
        <a href="/">Home</a>
        {% if "signin" in request.endpoint %}
        <h1>Sign In</h1>
        {% else %}
        <h1>Sign Up</h1>
        {% endif %}
        <input type="text" name="username" placeholder="Username" autocomplete="off" required>
        <input type="password" name="password" placeholder="Password" autocomplete="off" required>
        {% if "signin" not in request.endpoint %}
        <ul id="password_conditions">
            <li class="error_pw">Password length > 6</li>
            <li class="error_pw">Password contains special characters: *,&,|,#,@, etc</li>
            <li class="error_pw">Password contains capital letters</li>
        </ul>
        <input type="password" name="confirmation" placeholder="Re-type password" autocomplete="off" required>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
    {% if "signin" in request.endpoint %}
    <script src="/static/js/signin.js"></script>
    {% else %}
    <script src="/static/js/signup.js"></script>
    {% endif %}
{% endblock %}
